.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn {
  height: 30px;
  width: 100px;
}
.primary {
  background-color: #0336ff;
  color: white;
  /* font-size: medium; */
}
.primary:hover {
  cursor: pointer;
}
.secondary {
  background-color: #f9aa33;
  color: white;
  font-size: large;
}
.secondary:hover {
  cursor: pointer;
}
