.teacher-card__container {
  background-color: black;
  width: 400px;
  padding: 20px;
  height: 400px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.teacher-card__button-container {
  display: flex;
  justify-content: space-around;
}
